@charset "utf-8";
/* CSS Document */

body
{
	background-color:#0C0C0C;
	margin: 0 auto;
	width:900px;
}


#titleitem1
{
	width:304px;
	margin-top:30px;
	margin-bottom:30px;
	margin-right:20px;
	float:left;
}

ul
{
	text-align:right;
	margin-top:120px;
	width:530px;
	float:left;
}

li
{
	width:100px;
	height:15px;
	list-style:none;
	color:#CCCCCC;
	display:inline-block;
	font-family:tahoma;
	font-weight:regular;
	font-size:16px;
	text-align:center;
}

#ilSlash
{
	width:20px;
	height:15px;
	list-style:none;
	color:#CCCCCC;
	display:inline-block;
	font-family:tahoma;
	font-weight:regular;
	font-size:16px;
	text-align:center;
}

#container {
margin: 0 auto;
width: 900px;
float:left;	
}

.item 
{ 
width: 25%; 
float: left;
}

.item.w2 
{ 
width: 50%;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 40px;
	padding-top:45px;
	padding-bottom:30px;
    margin-top: 50px;
	font-family:tahoma;
	font-weight:regular;
	font-size:16px;
	text-align:center;
	color:#666;
}

#container img:hover
{
	opacity:.5;
}

a {
color:#999;
text-decoration:none;}

a:hover{
	color:white;
}

#aboutContainer
{
	float:left;
	width:900px;
	height:350px;
}

#aboutContainera
{
	float:left;
	width:300px;
	height:350px;
	font-family:tahoma;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	color:#CCCCCC;
}

#aboutContainerb
{
	padding-left:30px;
	float:left;
	width:570px;
	height:200px;
	font-family:tahoma;
	font-weight:regular;
	font-size:14px;
	color:#CCCCCC;
}

#fotoImg
{
	text-align:center;
	padding:40px;
}

#aboutContainerc
{
	padding-left:30px;
	float:left;
	width:570px;
	height:30px;
	font-family:tahoma;
	font-weight:regular;
	font-size:14px;
	color:#CCCCCC;
}

#links
{
	color:#0F0;
}

#aboutContainerd
{
	padding-top:12px;
	padding-left:30px;
	float:left;
	width:170px;
	height:50px;
	font-family:tahoma;
	color:#FF0;
	font-weight:bold;
	font-size:15px;
	text-decoration:underline;
}

#containercvbig {
margin-left:330px;
width: 900px;
float:left;
text-align:left;
}

#containercv {
	margin-top:30px;
width: 260px;
float:left;
}

#cvtitlebig
{
	color:#CCCCCC;
	font-family:tahoma;
	font-weight:bold;
	font-size:16px;
}

#cvtitle
{
	color:#CCCCCC;
	font-family:tahoma;
	font-weight:bold;
	font-size:14px;
}

#cvregular
{
	color:#CCCCCC;
	font-family:tahoma;
	font-weight:regular;
	font-size:13px;
}
