.banner-title {
	color: white;
	font-size: 65px;
	line-height: 65px;
	margin-top: 40px;
}
.banner-title2 {
	color: white;
	font-size: 24px;
	line-height: 22px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.banner {
	background: #6279c3; /* Old browsers */
	background: -moz-linear-gradient(top,  #6279c3 0%, #455a9d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6279c3), color-stop(100%,#455a9d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6279c3 0%,#455a9d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6279c3 0%,#455a9d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6279c3 0%,#455a9d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6279c3 0%,#455a9d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6279c3', endColorstr='#455a9d',GradientType=0 ); /* IE6-9 */

	overflow: hidden;
	height: 560px;
}

.banner-content {
	position: absolute;
	width: 100%;
	text-align: center;
}

.red-section {
	text-align: center;
	padding: 60px;
	padding-bottom: 80px;
	color: white;

	background: #aa2224; /* Old browsers */
	background: -moz-linear-gradient(top,  #aa2224 0%, #b23a42 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa2224), color-stop(100%,#b23a42)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #aa2224 0%,#b23a42 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #aa2224 0%,#b23a42 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #aa2224 0%,#b23a42 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #aa2224 0%,#b23a42 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa2224', endColorstr='#b23a42',GradientType=0 ); /* IE6-9 */


	/*background: #fc0004; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #fc0004 0%, #ed0019 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc0004), color-stop(100%,#ed0019)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #fc0004 0%,#ed0019 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #fc0004 0%,#ed0019 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #fc0004 0%,#ed0019 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #fc0004 0%,#ed0019 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc0004', endColorstr='#ed0019',GradientType=0 ); /* IE6-9 */
}
.blue-section {
	padding: 60px;
	font-size: 20px;
	color: white;
	background: #6279c3; /* Old browsers */
	background: -moz-linear-gradient(top,  #6279c3 0%, #455a9d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6279c3), color-stop(100%,#455a9d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6279c3 0%,#455a9d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6279c3 0%,#455a9d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6279c3 0%,#455a9d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6279c3 0%,#455a9d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6279c3', endColorstr='#455a9d',GradientType=0 ); /* IE6-9 */

}

.black-section {
	text-align: center;
	color: white;
	padding: 60px;
	background: #2b2b2b; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b2b2b 0%, #1c1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b2b2b), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2b2b2b 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2b2b2b 0%,#1c1c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2b2b2b 0%,#1c1c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2b2b2b 0%,#1c1c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */

}


.light { 
	position: absolute;
	margin-top: -200px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 1000px;
	height: 900px;
	background-image: url(../images/light.png);
    background-size: 1000px 900px;
    background-repeat: no-repeat;
	background-position:center;
	z-index: 0;
}

.light {
  -webkit-animation-name: rotate;
  -webkit-animation-duration:14s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:14s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}


.navbar-default {
	background-color: transparent;
	border: none;
}
	.navbar-default .navbar-brand {
		margin-top: 10px;
		color: #fff;
	}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ccc;
}
	.navbar-default .navbar-nav > li {
		  margin-top: 10px;
	}

.navbar-default .navbar-nav > li > a {

  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ccc;
}

.navbar-toggle {
	margin-top: 20px;
	color: white;
}

.nav-requestquote {
	background-color: #ccc;
	margin-right: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.nav-requestquote:hover {
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ededed 1%, #ffffff 100%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ededed), color-stop(100%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededed 1%,#ffffff 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededed 1%,#ffffff 100%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededed 1%,#ffffff 100%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ededed 1%,#ffffff 100%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.nav-requestquote > a {
	color: #455a9d !important;
	font-weight: bold;
}

#scene {
	width: 900px;
	margin-top: -50px;
	margin-right: auto;
	margin-left: auto;
}


.gray-section {
	background-color: #eee;
	text-align: center;
	padding: 20px;
	font-size: 34px;
}

.productslist > div {
	padding: 10px;
}

.productslist > div > div {
	background-color: #f5f5f5;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	color: #888;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.white-btn {
	max-width: 400px;
	margin: 0 auto;
	background: white;
	font-size: 30px;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
} 
.red-text-btn {
	color: #aa2224;
}

@media (min-width: 768px) {
  /* Styles */
  .productslist img {
  	width: 100%;
  }
}

@media (max-width: 768px) {
  /* Styles */
	.banner-title {
		font-size: 30px;
		line-height: 30px;
	}
	.banner-title2 {
		color: white;
		font-size: 16px;
		line-height: 16px;
	}
	.blue-section, .red-section {
		padding: 30px;
	}
	.banner {
		padding-right: 20px;
		height: 400px;
	}
	#scene {
		width: 400px;
		margin-top: 0;
	}
	.light {
		width: 500px;
		height: 500px;
		background-size: 500px 500px;
		margin-top: -120px;
}

.layer img {
	width: 100%;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
